.home{
    background: url(../images/home/truck.png);
    padding-top: 155px;
    padding-bottom: 220px;
    &__title{
        text-align: center;
        color: white;
        text-transform: uppercase;
        padding: 35px;
        font-size: 40px;
    }

    &__subtitle{
        color: white;
        text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

    }

    &__block{
        width: 720px;
        height: 245px;
        border: 1px solid #C8A35F ;
        margin: 0 auto;
    }
}




